	<header class="header">
		<div class="logo">logo</div>
		<div class="nav">
			<input type="checkbox" name="nav--switch" id="nav--switch">
			<label class="nav--trigger" for="nav--switch">
				<span></span>
				<span></span>
				<span></span>
			</label>
			<nav class="nav--content">
				<ul class="nav--list">
					<li class="nav--item"><a href="#">test1</a></li>
					<li class="nav--item"><a href="#">test2</a></li>
					<li class="nav--item"><a href="#">test3</a></li>
				</ul>
			</nav>
		</div>
	</header>
