<%
var page = {
	title: 'トップページ',
	description: 'templateのdescription',
	keyword: 'templateのkeyword',
	ogTitle: 'templateのogTitle',
	ogType: 'templateのogType',
	ogDescription: 'templateのogDescription',
	ogURL: 'templateのogURL',
	ogImage: 'templateのogImage',
	ogSitename: 'templateのogSitename',
	twitterCard: 'summary',
	twitterSite: 'templateのtwitterSite',
}
-%>
<%- include('../partial/_meta.ejs', { page: page }); -%>
<%- include('../partial/_header.ejs'); -%>
	<h1>contents!!</h1>
<%- include('../partial/_footer.ejs'); -%>
