
// cover
//-----------------------------------------------------
$cover--fontColor: #fff;

.cover {
    margin: 0 -1.5rem 3rem;
    width: 100%;
    height: 50vh;
}

.cover--title {
    font-size: 3rem;
    font-weight: 200;
    color: $cover--fontColor;
}

.cover--date {
    color: $cover--fontColor;
}

// block
//-----------------------------------------------------
.block {
    margin-bottom: 3rem;
}

// heading
//-----------------------------------------------------
.heading--lv1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 200;
}

.heading--lv2 {
    margin-bottom: 1rem;
    font-size: 2.2rem;
    font-weight: 200;
}

.heading--lv3 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 200;
}

.heading--lv4 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 200;
}

.heading--lv5 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 200;
}

// text
//-----------------------------------------------------
.text {
    font-size: 1.6rem;
    font-weight: 200;
    line-height: 1.5;
}