<%
var page = {
	title: 'トップページ',
	description: 'templateのdescription',
	keyword: 'templateのkeyword',
	ogTitle: 'templateのogTitle',
	ogType: 'templateのogType',
	ogDescription: 'templateのogDescription',
	ogURL: 'templateのogURL',
	ogImage: 'templateのogImage',
	ogSitename: 'templateのogSitename',
	twitterCard: 'summary',
	twitterSite: 'templateのtwitterSite',
}

function content(site){
-%>
	<h1>contents!!</h1>
<%}; -%>
<% include partial/_layout -%>
