<%
var title = 'title';
var description = '';
var keyword = '';
var ogTitle = '';
var ogType = '';
var ogDescription = '';
var ogURL = '';
var ogImage = '';
var ogSitename = '';
var twitterCard = 'summary';
var twitterSite = '';

function content(){
-%>
			<h1>contents!!</h1>
<%}; -%>
<% include partial/_layout -%>
